extends layout 

block content 
  h1= title 
  
  ul.products-list 
    for item in category_items 
      li.card
        .card-body
          h5.card-title #{item.name}
          p.card-text #{item.description}
          p.card-text $#{item.price}
          a.btn.btn-primary(href=item.url) Ver Detalle
    else 
      li No hay items para mostrar. Agrega items 
        a(href='/item/create') aqui

  hr
  p
    a(href=category.url+"/update") Editar categoría
  p
    a(href=category.url+"/delete") Borrar categoría
